<template>
    <div class="block" :class="type">
        <button type="button" class="close" v-if="closable">&times;</button>
        <div class="icon">
          <i :class="icon_class"></i>
        </div>
        <div class="header">
          <slot name="header"></slot>
        </div>
        <div class="description">
            <slot></slot>
        </div>
    </div>
</template>

<style>
.block {
    margin: 20px auto;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 20px;
    max-width: 300px;
}
.block > .close {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: absolute;
    top: 5px;
    right: 15px;
}
.block > .close:hover {
    opacity: 0.5
}

.block > .icon {
    font-size: 60px;
}
.block > .header {
    font-size: 30px;
}
.block > .description {
    color: #333333;
}

.block.error {
    color:  #BD2031;
}

</style>

<script>
    export default {
        props: {
            type: {
                default: 'no-object'
            },
            text: String,
            closable: {
                default: false
            }

        },

        computed: {
            icon_class () {
                let _map = {
                    'no-object': {
                        icon: 'fa fa-map-marker'
                    },
                    'info': {
                        icon: 'fa fa-info-circle'
                    },
                    'error': {
                        icon: 'fa fa-exclamation-triangle',
                    }
                }
                return _map[this.type].icon
            }
        }
    }
</script>