<template>
  <li class="list-group-item point" :class="{open: point.id == current_point.id}" @click="choose_point(point.id)">
    <div class="sort-handler"><i class="fa fa-bars"></i></div>
        <div class="point-name"> {{title}} </div>
    <ul class="list-group-submenu">
      <li class="list-group-submenu-item">
        <button class="btn btn-danger btn-sm" @click="delete_point(point.id)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </li>

      <!-- <li class="list-group-submenu-item">
        <router-link class="btn btn-default btn-sm" :to="{name: 'point.edit', params: {'point_id': point.id}}">
          <span class="glyphicon glyphicon-pencil"></span>
        </router-link>
      </li> -->

      <li class="list-group-submenu-item note-btn">
        <button class="btn btn-default btn-sm">
          <span class="fa fa-sticky-note-o"></span>
        </button>
      </li>

      <li class="list-group-submenu-item subpoints-btn">
          <router-link class="btn btn-default btn-sm" :to="{name: 'point.subpoints', params: {point_id: point.id }}">
          <span class="glyphicon glyphicon-map-marker"></span>
        </router-link>
      </li>
    </ul>
  </li>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'

export default {
    props: ['point'],
    computed: {
      ...mapGetters([
          'current_point',
          'locale'
        ]),
        title () {
          return this.point.locale.title[this.locale]
        }
    },
    methods: {
      ...mapActions([
          'choose_point',
          'delete_point'
      ])
    }
}
</script>