<template>
    <app-page-layout :class_name = 'class_name' :title = 'title'>
        <template slot="content">
            <input type="text" v-model='route.title' v-validate data-vv-rules="required|min:4|max:10" :class="{'has-error': errors.has('title') }" name="title" class="form-control">
            <span v-show="errors.has('title')" class="help is-danger">{{ errors.first('title') }}</span>
            <textarea name="description" v-validate data-vv-rules="max:100" :class="{'has-error': errors.has('description') }" class="form-control" rows="3" style="resize:none;" v-model='route.description'></textarea>
            <span v-show="errors.has('description')" class="help is-danger">{{ errors.first('description') }}</span>
            <button class="btn btn-default btn-block" @click="submit" :disabled="errors.errors.length > 0" >Save</button>
        </template>
    </app-page-layout>
</template>

<script>
import _ from 'lodash'

export default {
    data () {
        return {
            title: 'route edit',
            class_name: 'route-edit',
            route: {}
        }
    },
    beforeMount () {
        this.route = _.assignIn(this.route, this.$store.getters.route_for_edit)
    },

    methods: {
        submit () {
            if (this.errors.errors.length == 0)
                this.$store.dispatch('edit_route', this.route).then(this.$router.go(-1))
        }
    }

}
</script>