@font-face {
    font-family: 'PTSansCaption';
    src: url('ptc55f.eot');
    src: url('ptc55f.eot?#iefix') format('embedded-opentype'),
         url('ptc55f.woff') format('woff'),
         url('ptc55f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}