.auth-form
    max-width 330px
    padding 15px
    margin 10px auto
    box-shadow 0 3px 6px 1px rgba(0, 0, 0, 0.16)
    background white
    .auth-menu
        margin 10px
        text-align center
        font-size 16px
    .language
        text-align right
    .checkbox
        font-weight normal
    .form-control
        position relative
        height auto
        -webkit-box-sizing border-box
        -moz-box-sizing border-box
        box-sizing border-box
        padding 10px
        font-size 16px
        &:focus
            z-index 2
    input
        margin-bottom -1px
        
    button[type=submit]
        margin-top: 10px

.form-signin .form-signin-heading,
.form-signin .checkbox
    margin-bottom 10px

.after-registration
    margin 10% auto
    text-align center
    padding 15px
    border 1px solid blue
    font-size 16pt
    max-width 1000px