.active-routes > .active-routes-body,
.shared-routes > .shared-routes-body
    border-top 1px dotted deepskyblue
    padding-top 10px
    clear both

    .route-info-link
        margin-left 15px
        text-decoration none
        color white
        &:hover,
        &:focus,
        &:visited 
            margin-left 15px
            text-decoration none
            color white



