.screen-loader-overlay
  position fixed
  top 0
  left 0
  height 100%
  background url('/static/images/loading.gif') no-repeat center center
  background-color white
  opacity 0.7
  z-index 1001
  width 100%

.map-section
    height: 100%
    width: calc(100% - 450px)
    float: left
    
.app-menu
    float right
    width 50px
    height 100%
    margin-top: 65px
    &.reverse
        float left
    ul
        list-style: none
        text-align: center
        padding: 0
        margin: 0
        
    .menu-btn
        height: 50px
        width: 50px

.app-section
    height: 100%
    width: 450px
    float: right
    background white
    .app-view
        padding 0 10px
        float left
        width 400px
        height 100%
        position absolute
        display: flex;
        flex-direction: column;
        &.reverse
            float right

         .app-spinner
            background-color white
            opacity 0.9
            position absolute
            width 100%
            height 100%
            z-index 100
            background-image url('/static/images/loading.gif')
            background-repeat no-repeat
            background-position center
            
        .app-error
            text-align center
            margin 20px
            padding 10px
            background #d9534f
            color white

        > .header
            margin-top 10px
            padding-bottom 10px
            display table
            height 45px
            width 100%
            border-bottom 1px solid #ccc
            .header-btn
                display table-cell
                border-right 1px solid #CCC
                .btn
                    border none
            .header-title
                width 100%
                font-size 25px
                display table-cell
                padding-left 10px
                vertical-align middle
        .scroll-content
            flex 1 1 auto
            overflow-x hidden
            overflow-y auto
            min-height 50px
            position relative
            
            .scroll-me
                position absolute
                overflow-y scroll
                overflow-x hidden
                top 0
                bottom 0
                left 0
                right -20px
                padding-right 20px

        &.points
            .add-point-ctrl
                margin-top: 25px;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
    

.sort-handler
    left: -50px
    float: left
    position: relative
    cursor: move
    -webkit-transition: all 0.5s ease-in-out
    -moz-transition: all 0.5s ease-in-out
    -o-transition: all 0.5s ease-in-out
    -ms-transition: all 0.5s ease-in-out
    transition: all 0.5s ease-in-out
    color: white

.list-group-custom
    padding-left 0px
    overflow hidden
    .list-group-item
        border-left 0px solid rgb(221, 221, 221)
        border-right 0px solid rgb(221, 221, 221)
        -webkit-transition all 0.5s ease-in-out
        -moz-transition all 0.5s ease-in-out
        -o-transition all 0.5s ease-in-out
        -ms-transition all 0.5s ease-in-out
        transition all 0.5s ease-in-out
        overflow hidden
        word-wrap break-word
        white-space nowrap
        text-overflow ellipsis
        cursor pointer
        padding 15px 15px
        &:first-child
            border-top 0
        & > .description
            padding-left 20px
            display none
            color #ddd
        &.open
            padding-right 15px
            background-color #168ccc
            color white
            cursor default
            .list-group-submenu
                right 5px
            & > .sort-handler
                left -10px
            & > .description
                display block
    .list-group-submenu
        position absolute
        top 0px
        right -200px
        white-space nowrap
        list-style none
        padding-left 0px
        background-color white
        padding-top 5px
        padding-bottom 5px
        padding-left 5px
        padding-right 5px
        top 5px
        -webkit-transition all 0.5s ease-in-out
        -moz-transition all 0.5s ease-in-out
        -o-transition all 0.5s ease-in-out
        -ms-transition all 0.5s ease-in-out
        transition all 0.5s ease-in-out
        backgroud-color white
        .list-group-submenu-item
            float right
            white-space nowrap
            display block
            margin-bottom -1px
            background-color rgb(51, 51, 51)
            color rgb(235, 235, 235)
            padding 0px
            color black
  background-color: #168ccc
            margin-right 1px
            &:first-child
                border-right 0px
            &:hover
            &.danger
                color rgb(255, 255, 255)
                background-color rgb(217, 83, 79)

.list-group-custom .list-group-item:first-child,
.list-group-custom .list-group-item:last-child
    border-top-right-radius 0px
    border-top-left-radius 0px
    border-bottom-right-radius 0px
    border-bottom-left-radius 0px
    overflow hidden
    



// foursquare list
// .foursquare-venue-general-info-list > li,
// .foursquare-venue-tips-list > li
//     border-radius 0
//     border-right none
//     border-left none

// .foursquare-venue-general-info-list > li:first-child,
// .foursquare-venue-tips-list > li:first-child
//     border-top none

.venue-list
    padding 0
    & > li
        &.venue
            display flex
            border-left 0
            border-right 0
            flex-flow row wrap
            cursor pointer
            padding 0 10px 0 0
            &:hover
                background-color #f5f5f5
            .venue-photo
                display flex
                height 100px
                min-height auto
                min-width auto
                width 100px
                flex 0 0 auto
                & > img
                    height 100px
                    min-height auto
                    min-width auto
                    width 100px
            .venue-title
                flex 1 1 0%
                flex-flow column nowrap
                padding 0px 0px 0px 5px
                .venue-name
                    margin 0 0 10px
                    font-size 20px
                    position relative
                    word-break break-all
                .venue-category
                    color #999
            .venue-meta
                display flex
                flex 0 0 auto
                flex-flow column nowrap
                .venue-rating
                    border 1px solid blue
                    text-align center
                    margin-top 5px
                    padding 2px 10px

.venue-list >li.venue:first-child,
.venue-list >li.venue:last-child
    border 0