<template>
    <div style="height:100%">
        <div class="screen-loader-overlay" v-if="!route_loaded">
        </div>

        <div class="map-section" id="map_canvas" style="height: calc(100% - 0px)"></div>
        <div class="app-section">
            <router-view class="app-view"></router-view>
            <app-menu></app-menu>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import {make_marker, make_path} from '../helpers.js'
import { mapGetters } from 'vuex'
import AppMenu from './AppMenu.vue'

export default {
    components: {'app-menu': AppMenu},
    data () {
        return {
            default_lat: -25.363,
            default_lng: 131.044,
            default_zoom: 2,
            route_path: null
        }
    },

    created () {
        window.ws = new window.WSClient("127.0.0.1:9090", window.route_id, window.token)
        this.init_route()
    },

    mounted () {
        this.init_map()
        // this.show_route(true)
    },

    computed: {
        ...mapGetters(['route_loaded', 'points'])
    },

    methods: {
        init_route () {
            window.ws.request('get_route', {id:  window.route_id}).then(
                (response) => {
                    if (response.success){
                        window.map_ready_promise.then(
                            () => {
                                let route = response.result.route
                                for (let point of route.points){
                                    point.marker = make_marker(point, window.map)
                                    for (let spoint of point.subpoints){
                                        spoint.marker = make_marker(spoint, window.map)
                                    }
                                }
                                // let route_bounds = 
                                // let route_path = make_path(route.points, window.map)
                                this.$store.commit('set', {
                                    user: response.result.user,
                                    route: route,
                                    // route_path: route_path,
                                    route_loaded: true
                                })
                                Vue.config.lang = response.result.user.locale
                                window.route_loaded_defer.resolve()

                            }
                        ).fail((e)=>console.log(e))
                        
                    }
                }
            )
        },

        init_map () {
            window.map_loaded_promise.then(
                () => {
                    let map_options = {
                        streetViewControl: false,
                        mapTypeControl: true,
                        mapTypeControlOptions: {
                            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                            position: google.maps.ControlPosition.LEFT_TOP,
                        },
                        styles: [
                            {
                                featureType: 'poi',
                                elementType: 'label',
                                stylers: [
                                    {visibility: 'off'}
                                ]
                            }
                        ],
                    }
                    window.map = new google.maps.Map(document.getElementById("map_canvas"), map_options)
                    window.map.setCenter(new google.maps.LatLng(this.default_lat, this.default_lng))
                    window.map.setZoom(this.default_zoom)
                    window.map_ready_defer.resolve()
                }
            )
        },
        fit_route () {
            window.route_loaded_promise.then(
                () => {
                    if (this.points.length > 1){
                        let bounds = new google.maps.LatLngBounds()
                        this.points.map(({marker}) => bounds.extend(marker.getPosition()))
                        window.map.fitBounds(bounds)
                    }
                    else if (this.points.length == 1){
                        window.map.setCenter(this.route.points[0].marker.getPosition())
                        window.map.setZoom(10)
                    }
                    else {
                        window.map.setCenter(new google.maps.LatLng(this.default_lat, this.default_lng))
                        window.map.setZoom(this.default_zoom)
                    }
                }
            )
        },
        show_route (b) {
            window.route_loaded_promise.then(
                () => {
                  for (let point of this.points){
                    point.marker.setVisible(b)
                  }
                  if (this.route_path)
                    this.route_path.setMap(null) //delete old polyline
                  this.route_path = make_path(this.points, window.map, b)
                  this.fit_route()
                }
            ).fail((e) => console.log(e))
        }
    },

    watch: {
      points: {
        handler: function (n) {
          this.show_route(true)
        }
      }
    },

}
</script>