<template>
    <div :class="class_name">

        <div class="app-spinner" v-if="spinner"></div>

        <div class="header">
            <div class="header-btn">
                <a @click="btn_click" class="btn btn-default btn-lg">
                    <span :class="btn_icon"></span>
                </a>
            </div>
            <div class="header-title">
                {{title}}
            </div>
        </div>
        
        <block :type="'error'" v-if="app_error.error">
            <template slot="header">
                {{app_error.description}}
            </template>
        </block>
        
        <slot v-if="!app_error.error" name="content"></slot>
        
        <div class="scroll-content" v-if="!app_error.error">
            <div class="scroll-me">
                <slot name="scroll_content"></slot>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    props: {
        class_name: String,
        title: String,
        no_icon: {
            default: false
        },
        btn_icon: {
            default: 'fa fa-chevron-left'
        },
        btn_tooltip: {
            default: null
        },
        btn_path: {
            default: null
        }
    },
    data () {
        return { 
            spinner: false,
            error: false
        }
    },
    computed: {
        ...mapGetters(['app_error'])
    },
    methods: {
        btn_click () {
            if (this.btn_path)
                this.$router.push(this.btn_path)
            else
                this.$router.go(-1)
        }
    }
}
</script>