<template>
    <div class="app-menu">
      <ul>
        <li>
            <router-link :to="{name: 'route.edit'}" class="btn-default btn menu-btn"><i class="fa fa-pencil"></i></router-link>
        </li>
        <li><a href="#" class="btn-default btn menu-btn"><i class="fa fa-users"></a></li>
        <li><a href="#" class="btn-default btn menu-btn"><i class="fa fa-bars"></i></a></li>
        <li><a href="#" class="btn-default btn menu-btn">Add</a></li>
      </ul>
    </div>
</template>