<template>
    <app-page-layout :class_name = 'class_name' :title = 'title'>
        <template slot="content" v-if="venue">
            <ul class="list-group foursquare-venue-general-info-list">
                <li class="list-group-item">Description: {{venue.description}} </li>
                <li class="list-group-item">Address: {{venue.address}} </li>
                <li class="list-group-item">Rating: {{venue.rating}} </li>
            </ul>
            <button class="btn-default btn" v-if="">add</button>
        </template>
        <template slot="scroll_content" v-if="venue">
            <ul class="list-group foursquare-venue-tips-list">
                <li class="list-group-item" v-for="tip in venue.tips">
                    {{tip.text}}
                </li>
            </ul>
        </template>
    </app-page-layout>
</template>

<script lang="babel">
import { mapGetters } from 'vuex'

export default {
    // props: ['venue'],
    data () {
        return {
            class_name: 'foursquare-venue',
            venue: {}
        }
    },

    created () {
        let stored_venue = this.foursquare_venues.filter((v) => v.id == this.venue_id)
        if (stored_venue.length)
            this.venue = stored_venue[0]
        else
            window.ws.request('get_foursquare_venue', {'venue_id': this.venue_id}).then(
                    (response) => {
                        if (response.success){
                            console.log(response.result)
                            this.venue = response.result.venue
                        }
                    }
            )

    },

    computed: {
        ...mapGetters([
            'current_point',
            'locale',
            'foursquare_venues'
        ]),
        title () {
            if (this.venue)
                return this.venue.title
            else
                return ''
        },
        venue_id () {
            return this.$route.params.venue_id
        },
        add_to () {
            return this.$route.query.add_to
        }
    },
}

</script>