<template>
    <app-page-layout :class_name = 'class_name' :title = 'title'>
        <template v-if="current_point">
            <template slot="content">
                <router-link class="btn btn-primary btn-block" :to="{name: 'point.wizard', params: {point_id: current_point.id }}">{{ $t('shared.add')}} </router-link>
            </template>
            <template slot="scroll_content">
                <ul v-if="subpoints.length > 0">
                    <my-subpoint v-for="subpoint in subpoints" :subpoint="subpoint"></my-subpoint> 
                </ul>
                <block :type="'no-object'" v-if="subpoints.length == 0">
                    <template slot="header">
                        {{$t('subpoints.no_subpoints')}}
                    </template>
                </block>
            </template>
            <template v-if="!current_point"> error suka</template>
        </template>
    </app-page-layout>
</template>

<script>

import { mapGetters } from 'vuex'
import Subpoint from './Subpoint.vue'
import Block from '../shared/Block.vue'

export default {
    components: {'my-subpoint': Subpoint, 'block': Block},
    // props: ['point_id'],
    data () {
        return {
            class_name: 'subpoints'
        }
    },
    computed: {
        ...mapGetters([
            'locale',
            'current_point'
        ]),
        // current_point () {
        //     let point = this.$store.state.route.points.filter((p) => p.id == this.$route.params.point_id)
        //     if (point.length)
        //         return point[0]
        //     else
        //         // this.$store.commit('set', {error})
        //         return null
        // },
        title () {
            if (this.current_point)
                return this.current_point.locale.title[this.locale]
            else
                return ''
        },
        subpoints () {
            return this.current_point.subpoints
        }

    },
    watch: {
        '$route' (to, from) {
            console.log('test')
            this.$store.commit('choose_point', parseInt(this.$route.params.point_id))
        }
    }
}

</script>