<template>
    <router-view></router-view>
</template>


<script>
    import { mapGetters } from 'vuex'
    export default {
        data () {
            return {
                test: 'test'
            }
        }
    }
</script>